@media (min-width: 1290px){
    .container {
        max-width: 1230px;
    }
    .weather img{
        max-width: 100%;
        height: auto;
    }
}
@media (min-width: 1200px){
    .container {
        width: auto;
    }
}
@media (max-width:1289px){
    /* Banner */
    .banner__label {
        font-size: 160px;
    }

    /* Clock and wether wrapper */
    .weather img{
        max-width: 100%;
        height: auto;
    }
    .clock-group .clock.clock-group__item:first-child{
        margin-left: 0;
    }
    .clock-group .clock.clock-group__item:last-child{
        margin-right: 0;
    }
    .widgets {
        margin-top: 15px;
        -ms-flex-order: 2;
        order: 2;
    }

    /* Aside right to blocks start */
    .fixed-aside__item {
        margin-bottom: 40px;
    }
    /*Partners Page*/
    .partners_wrap{
        flex-direction: column-reverse;
    }
    .partners_list{
        width: 100%;
    }
    .become_partner{
        margin-bottom: 40px;
        align-self: flex-end;
    }
    .partners_list ul li{
        margin-right: 0;
    }
    .partners_list ul{
        justify-content: space-between;
    }
    /*Partners Page End*/
}
@media only screen and (max-width : 1200px){
    /*Forum page*/
    .layout__title{
        font-size: 16px;
    }
    /*Forum page End*/
    /*Personal Setting page*/
    .personal_setting_wrap{
        flex-wrap: wrap;
    }
    .personal_form_in{
        justify-content: space-around;
    }
    .personal_groups_in{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .personal_group_preview{
        flex-direction: column-reverse;
    }
    .personal_groups_in .news-group__item{
        width: 45%;
        margin-right: 0;
    }
    .personal_information{
        margin-right: 0;
        max-width: 100%;
    }
    .personal_groups{
        padding-top: 60px;
    }
    /*Personal Setting page end*/
}
@media (max-width: 1024px){
    /*Personal Setting page*/
    .personal_form_in{
        justify-content: space-between;
    }
    /*Personal Setting page End*/
    /* Aside right to blocks start */
    .fixed-aside{
        right: -18px;
    }
    .slideout__btn{
        line-height: 40px;
        min-width: 40px;
    }
}
@media only screen and (max-width : 991px){
    /*Forum page*/
    .form_post_details{
        left: -58px;
    }
    /*Forum End*/
    /*Partners Page*/
    .partners_list ul li{
        width: 21%
    }
    .modal__wrap{
        width: 800px;
    }
    /*Partners Page End*/
    /*Personal Setting page*/
    .remove_default_styles{
        max-width: 100%
    }
    /*Personal Setting page end*/
    /* Banner */
    .banner {
        padding: 40px 50px;
    }
    .banner__label {
        font-size: 140px;
    }

    /* Copyright */
    .copyright {
        margin-top: 10px;
        text-align: center;
    }

    /* Event page */
    .event__details ul {
        margin-top: 40px;
    }

    .event__banner p {
        width: 450px;
        margin-bottom: 30px;
    }
    /* Event page end*/
     /*Wish wall page*/
    .wish_wall_form{
        align-self: center;
        max-width: 100%;
    }
    /*Wish wall page end*/

    /* Events page */
    .events .table-content .date-box {
        position: relative;
    }

    .events .table-content .date-box>span {
        position: absolute;
        right: 3px;
        top: 12px;
        transform: rotate(90deg);
        padding: 13px 0;
        width: 30px;
    }

    .events .table-content .date-box>label {
        width: 140px;
    }

    .events .table-content .date-box>label:last-child {
        margin-top: 5px;
    }

    .events .table-content_thead th:first-child {
        width: 5.4%;
    }

    .events .table-content_thead th:nth-child(2),
    .events .table-content_thead th:nth-child(3) {
        width: 18.9%;
    }

    .events .table-content_thead th:nth-child(4),
    .events .table-content_thead th:last-child {
        width: 28.4%;
    }

    /* Events page end */
}
@media only screen and (max-width : 850px){
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 350px;
    }
    /*Personal Setting page End*/
    /*Partners Page*/

    .modal__wrap{
        width: 740px;
        padding: 55px 55px 65px 55px;
    }
    /*Partners Page End*/

}
@media only screen and (max-width : 768px){
    /*Forum page*/
    .user-email{
        display: block;
    }
    .layout__title{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .forum .table-content_thead th:nth-child(2){
        width: 18%;
    }
    /*Forum End*/
}
@media only screen and (max-width : 767px){
    /*Forum page*/
    .form_post_details{
        left: -100px
    }
    /*Forum page End*/
    /*Partners Page */
    .modal__wrap{
        width: 100%;
    }
    .partners_form_in{
        flex-direction: column;
    }
    .modal_left_side, .modal_right_side{
        margin:0 auto;
    }
    /*Partners Page End*/
    /* Wish wall page*/
    .media_edit{
        max-width: 100%;
    }
    /* Wish wall page*/
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 300px;
    }
    /*Personal Setting page End*/
    /* Banner */
    .banner {
        padding: 30px;
        min-height: 200px;
    }
    .banner__label {
        font-size: 90px;
    }

    /* M-control */
    .m-control {
        position: fixed;
        z-index: 100000;
        top: 18px;
        right: 18px;
        display: block;
    }

    /* Clock and wether wrapper */
    .widgets {
        display: none;
    }

    /* Input form-subscribe footer */
    .form-subscribe__field {
        min-width: inherit;
    }

    /* Nav bar */
    .m-menu {
        position: fixed;
        z-index: 99999;
        top: 0;
        right: 0;
        bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        overflow-y: scroll;
        width: 80%;
        min-width: 140px;
        max-width: 440px;
        background: #f8f8f8;
    }
    .m-menu, .nav-main {
        display: none;
    }
    .nav-main_m-menu {
        margin-bottom: 0;
        display: block;
        height: 100%}
    .nav-main_m-menu .nav-main__wrap {
        padding: 0;
        display: block;
    }

    /* Aside right to blocks start */
    .slideout {
        display: block;
    }
    .slideout__btn {
        padding: 0 25px;
        min-height: 58px;
        font-size: 18px;
        line-height: 1;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .slideout__btn-label {
        text-align: center;
        white-space: inherit;
        transform: inherit;
        opacity: 0;
    }
    .slideout__wrap {
        max-width: inherit;
    }
    .fixed-aside {
        top: inherit;
        left: 0;
        display: -ms-flexbox;
        display: flex;
        bottom: 15px;
        width: 100%;
        height: 15px;
        transform: inherit;
        transition: height .3s;
    }
    .fixed-aside:before {
        position: absolute;
        z-index: 98;
        display: block;
        width: 100%;
        height: 100%;
        bottom: -5px;
        content: "click to show";
        text-align: center;
        color: #fff;
    }
    .fixed-aside.is-active {
        height: 58px;
        bottom: 0;
    }
    .fixed-aside.is-active:before {
        content: none;
    }
    .fixed-aside.is-active .slideout__btn-label{
        opacity: 1;
    }
    .fixed-aside__item {
        width: 25%;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .fixed-aside__item:hover {
        transform: inherit;
    }
    .fixed-aside__item.is-active {
        position: absolute;
        z-index: 97;
        min-width: 100%;
        transform: translateY(-280px);
    }



    /* Pages */

    /* Text in banner */

    /* Event page */

    .greeting__title {
        font-size: 36px;
    }

    .event__buttons {
        margin-left: 0;
    }

    .event__details ul {
        margin-top: 35px;
    }

    .event__pluso {
        margin: 10px 0 25px;
    }

    .container-resize {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .event__banner {
        padding: 30px 7px 35px;
        border-radius: 0;
    }

    .event__banner p {
        width: 100%;
    }

    .event__banner>h3, .event__banner>div {
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }

    /* Event page end*/
}
@media only screen and (max-width : 635px){
    /*Forum page*/
    .forum_table-desktop{
        display: none;
    }
    .forum_table-mobile{
        display: block;
    }
    .forum_table-mobile table tr td{
        border: 1px solid #bababa;
        padding: 7px;
    }
    .forum_table-mobile table{
        width: 100%;
        margin-bottom: 7px;
    }
    .forum_table-mobile table:last-child{
        margin-bottom: 0;
    }
    .forum_table-mobile table tr td:first-child{
        width: 30%;
        background-color: #f9f9f9;
    }
    .form_post_details{
        left: -89px;
    }
    .forum_table-mobile table tr:first-child td:first-child:hover .badge{
        background-color: #1d1d1e;
    }
    .forum_mobile{
        border-collapse: collapse;
        /*border: 1px solid #bababa*/
    }
    /*Forum page End*/
    /*Partners Page*/
    .partners_list ul li{
        width: 26%
    }
    /*Partners Page End*/
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 270px;
    }
    /*Personal Setting page End*/
}
@media (max-width:575px){
    /*Wish wall page */
    .wish_wall_form{
        padding: 45px
    }
    /*Wish wall page end*/
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 100%;
    }
    .personal_form_in{
        flex-direction: column;
        width: 80%;
        align-self: center;
    }
    /*Personal Setting page End*/
    /* Banner */
    .banner {
        padding: 25px;
        min-height: 200px;
    }
    .banner__label {
        font-size: 48px;
    }

    /* Card */
    .card_horizontal {
        display: block;
    }
    .card_horizontal .card__content {
        margin-left: 0;
    }
    .card_horizontal .card__image {
        max-width: 100%
    }

    /* Input form-subscribe footer */
    .form-subscribe__wrap {
        display: block;
        text-align: center;
    }
    .form-subscribe__button {
        margin: 15px 0 0;
        min-width: 190px;
    }

    /* Pages */
    /* Input form-search main */
    .form-search__wrap {
        display: block;
        text-align: center;
    }
    .form-search__button {
        margin: 15px 0 0;
        min-width: 190px;
    }
}
@media only screen and (max-width : 480px){
    /*Partners Page*/
    .modal__wrap{
        padding: 35px 7px 35px 7px;
    }
    .modal_left_side, .modal_right_side{
        width: 290px;
    }
    .partners_list ul li{
        width: 41%;
    }
    /*Wish wall page */
    .wish_wall_form{
        padding: 45px 0;
        box-shadow: none;
    }

    /*Wish wall page end*/
    .container{
        padding: 0 7px
    }
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    /* Titles groups in layout */
    .entitled-group__controls{
        flex-wrap: wrap;
    }
    .entitled-group__controls > .btn{
        margin-top: 10px;
    }
    .entitled-group__controls > span{
        padding-right: 20px;
    }
    /*Personal Setting page */
    .personal_photo_wrap{
        margin: 0 auto 40px auto;
    }
    .personal_form_in{
        width: 100%;
    }
    .personal_groups_in .news-group__item{
        width: 100%;
    }
    /*Personal Setting page End */

    /*Event/Events*/
    .container-resize {
        padding: 0;
    }

    .events .mobile__table div.date-box>label {
        width: 78%;
    }

    .p-0 {
        padding: 0;
    }
    /*Event/Events end*/
}
@media only screen and (max-width : 340px){
    .profile_photo_info{
        width: 100%;
    }
    .personal_photo_wrap{
        width: 100%;
    }
    .events .mobile__table div.date-box>label {
        width: 75%;
    }
}
@media only screen and (max-width : 320px){

}


