@media (min-width: 1290px){
    .container {
        max-width: 1230px;
    }
}


@media (min-width: 1200px){
    .container {
        width: auto;
    }
}


@media (max-width:1289px){

    /* Banner */
    .banner__label {
        font-size: 160px;
    }

    /* Clock and wether wrapper */
    .widgets {
        margin-top: 15px;
        -ms-flex-order: 2;
        order: 2;
    }

    /* Aside right to blocks start */
    .fixed-aside__item {
        margin-bottom: 40px;
    }
}


@media only screen and (max-width : 1200px){
    /*Personal Setting page*/
    .personal_setting_wrap{
        flex-wrap: wrap;
    }
    .personal_form_in{
        justify-content: space-around;
    }
    .personal_groups_in{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .personal_group_preview{
        flex-direction: column-reverse;
    }
    .personal_groups_in .news-group__item{
        width: 45%;
        margin-right: 0;
    }
    .personal_information{
        margin-right: 0;
        max-width: 100%;
    }
    .personal_groups{
        padding-top: 60px;
    }
    /*Personal Setting page end*/
}


@media (max-width: 1024px){
    /*Personal Setting page*/
    .personal_form_in{
        justify-content: space-between;
    }
    /*Personal Setting page End*/
    /* Aside right to blocks start */
    .fixed-aside{
        right: -18px;
    }
    .slideout__btn{
        line-height: 40px;
        min-width: 40px;
    }
}


@media only screen and (max-width : 991px){
    /*Personal Setting page*/
    .remove_default_styles{
        max-width: 100%
    }
    /*Personal Setting page end*/
    /* Banner */
    .banner {
        padding: 40px 50px;
    }
    .banner__label {
        font-size: 140px;
    }

    /* Copyright */
    .copyright {
        margin-top: 10px;
        text-align: center;
    }

    /* Event page */

    .event__details ul {
        margin-top: 40px;
    }

    .event__banner p {
        width: 450px;
        margin-bottom: 30px;
    }

    /* Event page end*/
}


@media only screen and (max-width : 850px){
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 350px;
    }
    /*Personal Setting page End*/
}

@media only screen and (max-width : 767px){
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 300px;
    }
    /*Personal Setting page End*/
    /* Banner */
    .banner {
        padding: 30px;
        min-height: 200px;
    }
    .banner__label {
        font-size: 90px;
    }

    /* M-control */
    .m-control {
        position: fixed;
        z-index: 100000;
        top: 18px;
        right: 18px;
        display: block;
    }

    /* Clock and wether wrapper */
    .widgets {
        display: none;
    }

    /* Input form-subscribe footer */
    .form-subscribe__field {
        min-width: inherit;
    }

    /* Nav bar */
    .m-menu {
        position: fixed;
        z-index: 99999;
        top: 0;
        right: 0;
        bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        overflow-y: scroll;
        width: 80%;
        min-width: 140px;
        max-width: 440px;
        background: #f8f8f8;
    }
    .m-menu, .nav-main {
        display: none;
    }
    .nav-main_m-menu {
        margin-bottom: 0;
        display: block;
        height: 100%}
    .nav-main_m-menu .nav-main__wrap {
        padding: 0;
        display: block;
    }

    /* Aside right to blocks start */
    .slideout {
        display: block;
    }
    .slideout__btn {
        padding: 0 25px;
        min-height: 58px;
        font-size: 18px;
        line-height: 1;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .slideout__btn-label {
        text-align: center;
        white-space: inherit;
        transform: inherit;
        opacity: 0;
    }
    .slideout__wrap {
        max-width: inherit;
    }
    .fixed-aside {
        top: inherit;
        left: 0;
        display: -ms-flexbox;
        display: flex;
        bottom: 15px;
        width: 100%;
        height: 15px;
        transform: inherit;
        transition: height .3s;
    }
    .fixed-aside:before {
        position: absolute;
        z-index: 98;
        display: block;
        width: 100%;
        height: 100%;
        bottom: -5px;
        content: "click to show";
        text-align: center;
        color: #fff;
    }
    .fixed-aside.is-active {
        height: 58px;
        bottom: 0;
    }
    .fixed-aside.is-active:before {
        content: none;
    }
    .fixed-aside.is-active .slideout__btn-label{
        opacity: 1;
    }
    .fixed-aside__item {
        width: 25%;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .fixed-aside__item:hover {
        transform: inherit;
    }
    .fixed-aside__item.is-active {
        position: absolute;
        z-index: 97;
        min-width: 100%;
        transform: translateY(-280px);
    }



    /* Pages */

    /* Text in banner */

    /* Event page */

    .greeting__title {
        font-size: 36px;
    }

    .event__buttons {
        margin-left: 0;
    }

    .event__details ul {
        margin-top: 35px;
    }

    .event__pluso {
        margin: 10px 0 25px;
    }

    .container-resize {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .event__banner {
        padding: 30px 7px 35px;
        border-radius: 0;
    }

    .event__banner p {
        width: 100%;
    }

    .event__banner>h3, .event__banner>div {
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }

    /* Event page end*/
}


@media only screen and (max-width : 635px){
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 270px;
    }
    /*Personal Setting page End*/
}


@media (max-width:575px){
    /*Personal Setting page */
    .personal_content_lp label, .personal_content_rp label{
        width: 100%;
    }
    .personal_form_in{
        flex-direction: column;
        width: 80%;
        align-self: center;
    }
    /*Personal Setting page End*/
    /* Banner */
    .banner {
        padding: 25px;
        min-height: 200px;
    }
    .banner__label {
        font-size: 48px;
    }

    /* Card */
    .card_horizontal {
        display: block;
    }
    .card_horizontal .card__content {
        margin-left: 0;
    }
    .card_horizontal .card__image {
        max-width: 100%
    }

    /* Input form-subscribe footer */
    .form-subscribe__wrap {
        display: block;
        text-align: center;
    }
    .form-subscribe__button {
        margin: 15px 0 0;
        min-width: 190px;
    }

    /* Pages */
    /* Input form-search main */
    .form-search__wrap {
        display: block;
        text-align: center;
    }
    .form-search__button {
        margin: 15px 0 0;
        min-width: 190px;
    }
}


@media only screen and (max-width : 480px){
    .container{
        padding: 0 7px
    }
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    /* Titles groups in layout */
    .entitled-group__controls{
        flex-wrap: wrap;
    }
    .entitled-group__controls > .btn{
        margin-top: 10px;
    }
    .entitled-group__controls > span{
        padding-right: 20px;
    }
    /*Personal Setting page */
    .personal_photo_wrap{
        margin: 0 auto 40px auto;
    }
    .personal_form_in{
        width: 100%;
    }
    .personal_groups_in .news-group__item{
        width: 100%;
    }
    /*Personal Setting page End */

    .container-resize {
        padding: 0;
    }
}


@media only screen and (max-width : 340px){
    .profile_photo_info{
        width: 100%;
    }
    .personal_photo_wrap{
        width: 100%;
    }
}


@media only screen and (max-width : 320px){

}


